{% extends 'base.html' %}
{% load static %}

{% block title %}сантнх про{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/interesting.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
    <link rel="stylesheet" href="{% static 'css/auf.css' %}">
{% endblock %}

{% block content %}
    <div class="container auf">

        {% csrf_token %}
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">эл. почта</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">пароль</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">запомни меня</label>
            </div>
            <button type="submit" id="auf-button" class="btn btn-primary">войти</button>
            <a class="nav-link" href="{% url 'reg' %}" id="reg-button">Зарегистрироваться</a>
        </form>
    </div>

    <script src={% static 'js/auf.js' %}></script>
{% endblock %}