{% extends 'base.html' %}
{% load static %}

{% block title %}сантнх про{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/interesting.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div class="container text-white pt-5 roboto-italic es-header-bg">
            <h1 class="es-header-title">
                сантнх про
            </h1>
            <h2 class="es-header-title">
                ул.Ленина, 102
            </h2>
        </div>
    </header>
{% endblock %}