       
{% extends 'items_list.html' %}
{% load static %}
{% block title %}сантнх про{% endblock %}
       
       
       
       
       
       
       
       
    {% block css %}{% endblock %}
       <main class="container" id="item">
              {% for item in items_list %}
              <div class="row item-container">
                <div class="col-12">
                  <a href="{{ item.id }}">{{ item.item_title }}</a>
                  <p>{{ item.item_subtitle }}</p>
                </div>
              </div>
              {% endfor %}
            </main>        

    <div class="container">
            <h1>Наши услуги</h1>            
            <div class="container">
                <div class="row justify-content-center">
                {% for item in items_list %}
                    <div class="col-3">
                        <div class="card" style="width: 18rem;">
                            <img src={{ item.photo.url }} class="card-img-top" alt={{ item.item_title }}>
                            <div class="card-body">
                                <h5 class="card-title">{{ item.item_title }}</h5>
                                <!--<p class="card-text">S{{ item.description }}</p>-->
                                <a href="/item/{{ item.id }}" class="card-button">Подробнее</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
    </div>