{% extends 'base.html' %}
{% load static %}

{% block title %}сантнх про{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href={% static 'css/reg.css' %}>
    <link rel="stylesheet" href={% static 'css/footer.css' %}>
{% endblock %}

{% block content %}
    <main class="container">
        <div class="reg">
            {% csrf_token %}

            <!-- Email -->
            <label for="login" class="form-label">Адрес электронной почты</label>
            <input type="email" id="email" class="form-control" placeholder="Введите e-mail">
            
            <!-- Пароль -->
            <label for="login" class="form-label">Пароль</label>
            <input type="password" id="password" class="form-control" placeholder="Введите пароль">

            <!-- Имя -->
            <label for="login" class="form-label">Имя</label>
            <input type="text" id="first-name" class="form-control" placeholder="Введите имя">

            <!-- Фамилия -->
            <label for="login" class="form-label">Фамилия</label>
            <input type="text" id="last-name" class="form-control" placeholder="Введите имя">

            <input type="button" id="reg-button" class="btn btn-dark" value="Зарегистрироваться">
        </div>
    </main>

    <script src={% static 'js/reg.js '%}></script>
{% endblock %}